In [ ]:
 #Dictionary
 #indexing
#  Mutiple and duplicate data or values
# ordered
# # Mutable

In [2]:
#Indexing
d = dict()
d ={}
print(type(d))

<class 'dict'>

In [4]:
#d = {<key>:<value>}
d = {'a':'Apple','b':'Ball'}
print(d['a'])
print(d['b'])

Apple
Ball

In [ ]:
# + *
d ={1:1,2:4:3:9:4:16} 
b ={'a',:'apple',:'b','ball'}

In [6]:
a ={}
a['a'] ='apple'
a['b']='ball'   # abcd is key value
a['c']='cat'
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [9]:
a ={}
n =int(input("enter value n ="))
for i in range(n):
    name =input("enter name=")
    phone = int(input("enter phone="))
    a[name] =phone
print(a)

enter value n =2
enter name=shosika
enter phone=9863341512
enter name=simran
enter phone=9887766544
{'shosika': 9863341512, 'simran': 9887766544}

In [10]:
a['shosika']

9863341512

In [14]:
#dictionary loop
a ={'shosika' :9863341512, 'shyam':865567777, 'Hari' :9819054849}
for i in a.items():
    print(i)

('shosika', 9863341512)
('shyam', 865567777)
('Hari', 9819054849)

In [17]:
a ={'shosika' :9863341512, 'shyam':865567777, 'Hari' :9819054849} 
a['shova'] = 9863341512
a

{'shosika': 9863341512,
 'shyam': 865567777,
 'Hari': 9819054849,
 'shova': 9863341512}

In [22]:
a ={'shosika' :9863341512, 'shyam':865567777, 'Hari' :9819054849} #update
b ={'shova' :9863341512,'Nabin':9873353434}
a.update(b)
a

{'shosika': 9863341512,
 'shyam': 865567777,
 'Hari': 9819054849,
 'shova': 9863341512,
 'Nabin': 9873353434}

In [ ]:
#delete in dict
#del pop

In [23]:
a ={'shosika' :9863341512, 'shyam':865567777, 'Hari' :9819054849} #update
del a['shyam'] 
a

{'shosika': 9863341512, 'Hari': 9819054849}

In [26]:
a ={'shosika' :9863341512, 'shyam':865567777, 'Hari' :9819054849} #dictionary is mutable data type 
b = a.pop('shosika') 
print(b)
print(a)

9863341512
{'shyam': 865567777, 'Hari': 9819054849}

In [27]:
# list inside ditionary
a ={'shosika' :[9863341512,865567777], 'ram' :[9819054849,9823567543,],'hari':[65556665444,987665554444]}
a['ram']

[9819054849, 9823567543]

In [28]:
a ={'name':['shosika','shova','toya'],
   'age':[23,45,66],
   'add':['ktm','bhktpr','lalitpur']}
a

{'name': ['shosika', 'shova', 'toya'],
 'age': [23, 45, 66],
 'add': ['ktm', 'bhktpr', 'lalitpur']}

In [32]:
# a ={'shosika' :[9863341512,865567777], 'ram' :[9819054849,9823567543,],'hari':[65556665444,987665554444]}
a ={}
n = int(input("enter n ="))
for i in range(n):
    name = input("enter name=")
    ntc =int(input("enter ntc no="))
    ncl= int(input("enter ncl no="))
    a[name]=[ntc,ncl]
              
print(a)

enter n =2
enter name=shosika
enter ntc no=9834341512
enter ncl no=9819054849
enter name=shova
enter ntc no=22345567
enter ncl no=778990000
{'shosika': [9834341512, 9819054849], 'shova': [22345567, 778990000]}

In [40]:
 #a ={'name':['shosika','shova','toya'],
#   'age':[23,45,66],
 #  'add':['ktm','bhktpr','lalitpur']}          #using list in dictinary

a ={'name':[],'age':[],'add':[]}
n = int(input("enter n ="))
for i in range(n):
    
    name = input("enter name=")
    age=int(input("enter age ="))
    add= input("enter add  =")
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)
              
print(a)

enter n =2
enter name=shosika
enter age =22
enter add  =ktm
enter name=shova
enter age =48
enter add  =bhktpr
{'name': ['shosika', 'shova'], 'age': [22, 48], 'add': ['ktm', 'bhktpr']}

In [42]:
# a ={'name':['shosika','shova','toya'],
#   'age':[23,45,66],
#   'add':['ktm','bhktpr','lalitpur']}
#a

def main():
    # Define the dictionary containing lists
    user_info = {
        'name': ['shosika', 'shova', 'toya'],
        'age': [23, 45, 66],
        'add': ['ktm', 'bhktpr', 'lalitpur']
    }

    # Print the user information
    print("User Information:")
    for i in range(len(user_info['name'])):
        name = user_info['name'][i]
        age = user_info['age'][i]
        address = user_info['add'][i]
        print(f"Name: {name}, Age: {age}, Address: {address}")


if __name__ == "__main__":
    main()

User Information:
Name: shosika, Age: 23, Address: ktm
Name: shova, Age: 45, Address: bhktpr
Name: toya, Age: 66, Address: lalitpur

In [44]:
a ={'name': ['shosika', 'shova'], 'age': [22, 48], 'add': ['ktm', 'bhktpr']}
print("Name =", a['name'][0])
print("Name =",a['age'][0])
print("Name =", a['add'][0])

Name = shosika
Name = 22
Name = ktm

In [45]:
a ={'name': ['shosika', 'shova'], 'age': [22, 48], 'add': ['ktm', 'bhktpr']}
a['age'][0]=33
a

{'name': ['shosika', 'shova'], 'age': [33, 48], 'add': ['ktm', 'bhktpr']}

In [48]:
a ={'name': ['shosika', 'shova'],'age': [22, 48], 'add': ['ktm', 'bhktpr']}
del a['name'][0]
del a['age'][0]
del a['add'][0]
a

{'name': ['shova'], 'age': [48], 'add': ['bhktpr']}

In [52]:
a ={'name': ['shosika', 'shova'],'age': [22, 48], 'add': ['ktm', 'bhktpr']}
k =list(a.keys())
index = int(input("enter index ="))
for i in a:
    del a[i][index]
    
print(a)

enter index =1
{'name': ['shosika'], 'age': [22], 'add': ['ktm']}

In [55]:
a ={'name': ['shosika', 'shova'],'age': [22, 48], 'add': ['ktm', 'bhktpr']}

index = int(input("enter index = "))
for i in a:
    x = input(f"enter{i}")
    a[i][index] = x
    
print(a)

enter index = 0
enternamesit
enterage33
enteraddILAM
{'name': ['sit', 'shova'], 'age': ['33', 48], 'add': ['ILAM', 'bhktpr']}