In [ ]:
#Lambda  Function

In [ ]:
# lambda <arguments>:<operation>

In [5]:
a =lambda    x:x**2     #kunai variable defined garne ani argument pass garx
print(a(3))              # ani operation

9

In [10]:
a =lambda    x,y:x*y    
a(4,5)

20

In [ ]:
#filter function
#map function

In [ ]:
#filter
#filter(lambda <argument>:<condition>),list)

In [13]:
a =[1,2,3,4,5,6,7,8]
list(filter((lambda x:x%2==0),a))

[2, 4, 6, 8]

In [14]:
a = ["Apple","Ball","dog","cat"]
list(filter((lambda x:x.islower()),a))

['dog', 'cat']

In [ ]:
#map function

In [ ]:
#mao((lambda<argument>:<condition>),list)

In [17]:
a =["apple","ball","Cat","Orange","Mango"]
b =list(map(lambda x:x.lower(),a))
b

['apple', 'ball', 'cat', 'orange', 'mango']

In [18]:
a =[20000,30000,40000,50000,20000,70000,60000,20000]
b =list(map(lambda x:x*1.2,a))
b

[24000.0, 36000.0, 48000.0, 60000.0, 24000.0, 84000.0, 72000.0, 24000.0]

In [20]:
a = [i for i in range(10)]
a

SyntaxError: unmatched ']' (2405625631.py, line 1)

In [21]:
a =[int(input("enter value =")) for i in range(5)]
a

enter value =2
enter value =3
enter value =4
enter value =5
enter value =6

[2, 3, 4, 5, 6]

In [25]:
a = sum([int(input("enter value=")) for i in range(5)])

enter value=2
enter value=7
enter value=8
enter value=9
enter value=10

In [26]:
a ={input("enter name="):input("enter phone =")for i in range(5)}
print(a)

enter name=shosika
enter phone =98653345566
enter name=simram
enter phone =7688876432222
enter name=soso
enter phone =765433466
enter name=shikak
enter phone =8888888888888888
enter name=ssss
enter phone =rgtyyyy
{'shosika': '98653345566', 'simram': '7688876432222', 'soso': '765433466', 'shikak': '8888888888888888', 'ssss': 'rgtyyyy'}

In [28]:
x =[1,2,3,4,5,5,6,7,7,8,8,6,5]
a ={i:i**2 for i in x}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}