In [1]:
# python colllection
#list
#tuple
#set
#dict

In [ ]:
#List
#multiple and

In [2]:
a= list()
b =[]

In [3]:
a =["apple","ball","cat","dog","fish","apple"]
b =[0,1,2,3,4,5,6,7,8,9,0]
print (type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [4]:
a =["apple","ball","cat","dog","fish","apple"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

apple
['apple', 'ball', 'cat', 'dog', 'fish']
['apple', 'cat', 'fish']

In [5]:
a =[1,2,3,4,5,]
b=[6,7,8,9]
c =a +b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a =[1,2,3,4,5]
print(a* 2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [7]:
#list ma chai append() insert() extend() vanne function hunxan

In [8]:
a =[]
a.append("apple")
a.append("ball")
print(a)

['apple', 'ball']

In [11]:
l =[]
n = int(input("enter  n ="))
for i in range(n):
    x = int(input("enter x ="))
    l.append(x)
    
print(l)

enter  n =

ValueError: invalid literal for int() with base 10: ''

In [2]:
print("min value =",min(l))
print("max value = ", max(l))
print("sum value=",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

NameError: name 'l' is not defined

In [ ]:
l = []
n = int(input("enter n ="))
for i in range(n):
    x =input("enter x =")
    l.append(x)

In [14]:
print(l)

['shosika', 'sunita', 'gita', 'shova', 'subash']

In [15]:
l.sort()
print(l)

['gita', 'shosika', 'shova', 'subash', 'sunita']

In [19]:
#insert()
a =['gita','hari','sita','ram','shyam']   
a.insert(1,"harry")
a

['gita', 'harry', 'hari', 'sita', 'ram', 'shyam']

In [17]:
a =['gita','hari','sita','ram','shyam']
b =[1,2,3,4,5]
a.extend(b)
print(a)

['gita', 'hari', 'sita', 'ram', 'shyam', 1, 2, 3, 4, 5]

In [22]:
#update
a =["gita",'hari','gita','ram','shyam']
a[0] ='nita'
a

['nita', 'hari', 'gita', 'ram', 'shyam']

In [23]:
a =['gita','hari','sita','ram','shyam']
a [0:2]=['jack','john']
a

['jack', 'john', 'sita', 'ram', 'shyam']

In [28]:
#insert multiple values inside certain index
a =['gita','hari','sita','ram','shyam']
a[1:1] =["payment","bill"]
a

['gita', 'payment', 'bill', 'hari', 'sita', 'ram', 'shyam']

In [30]:
#for delete del remove() pop()
a =['gita','hari','sita','ram','shyam']
del a[0]
print(a)

['hari', 'sita', 'ram', 'shyam']

In [33]:
a =['gita','hari','sita','ram','shyam']
del a[0:2]
print(a)

['sita', 'ram', 'shyam']

In [34]:
a =['gita','hari','sita','ram','shyam']
a.remove('gita')
a

['hari', 'sita', 'ram', 'shyam']

In [37]:
a =['gita','hari','sita','ram','shyam']
a.pop(1)
print(a)

['gita', 'sita', 'ram', 'shyam']

In [38]:
a =['gita','hari','sita','ram','shyam']
b =a.pop(1)
print(a)
print(b)

['gita', 'sita', 'ram', 'shyam']
hari

In [39]:
 #for using loop in list
a =['gita','hari','sita','ram','shyam']
for i in a:
    print(i)

gita
hari
sita
ram
shyam

In [40]:
a =['gita','hari','sita','ram','shyam'] #index chai  0 bata count hunxa  count chai 1 bata start hunxa
l = len(a)
l

5

In [10]:
#while using loop in list
i= 0 
a =['gita','hari','sita','ram','shyam']
l = len(a)
while i<1:
    print(a[i])
    i = i+1

gita

In [8]:
# removing multiple values
a =['gita','hari','sita','ram','shyam']
a.remove("ram")
a

['gita', 'hari', 'sita', 'shyam']

In [5]:
a =['gita','hari','sita','ram','shyam','ram']
c = a.count("ram")
for i in range(c):
    a.remove("ram")
print(a)

['gita', 'hari', 'sita', 'shyam']

In [6]:
a =['gita','hari','sita','ram','shyam','ram']
if "ram" in a:
    print("yes", a.count("ram"))
else:
    print("no")

yes 2

In [11]:
a =['gita','hari','sita','ram','shyam','ram']
a.index('ram')

3

In [20]:
a =['gita','hari','sita','ram','shyam''ram']
l = len (a)
for i in range(l):
    if a[i] == "ram":
        print(i)

3

In [21]:
a =['gita','hari','sita','ram','shyam''ram']
name =input("enter name=")
l = len (a)
for i in range(l):
    if a[i].lower == name.lower():
        print(i)

enter name=ram