In [ ]:
#for looop
# while loop

In [ ]:
##############for loop

range #creates squences of number
range(5) # 0 1 2 3 4 5 
range(1,5) #  1 2 3 4
range(1,5,2) #  1  3

In [3]:
for  i in range(5):
    print(i)

0
1
2
3
4

In [4]:
 for i in range(1,5):
        print(i)

1
2
3
4

In [6]:
for i in range(1,5,2):
        print(i)

1
3

In [8]:
for  i in range(5):
    print( i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [9]:
for i in range(1,11):
    print(i *5 )

5
10
15
20
25
30
35
40
45
50

In [11]:
x = int (input("enter the value of x="))
for i in range(1,11):
    print( x, "*", i,"=", i*x)

enter the value of x=3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [12]:
for i in range(5):
     x = int(input("enter x ="))

enter x =2
enter x =2
enter x =2
enter x =2
enter x =2

In [16]:
abc = 0
for i in range(5):
     x = int(input("enter x ="))
     abc = abc + x
    
     print(abc)

enter x =1000
1000
enter x =10000
11000
enter x =20000
31000
enter x =30000
61000
enter x =40000
101000

In [17]:
abc = 0    #int()
for i in range(5):
     x = int(input("enter x ="))
     abc = abc + x
    
print(abc)

enter x =2000
enter x =2000
enter x =2000
enter x =2000
enter x =2000
10000

In [20]:
abc = "" #str()
for i in range(5):
     x = str(input("enter x ="))
     abc = abc + x + ""
    
print(abc)

enter x =sita
enter x =gita
enter x =hari
enter x =ram
enter x =shyam
sitagitahariramshyam

In [21]:
abc =""  #str()
n = int(input("enter n ="))
for i in range(n):
    x = input("enter  x =")
    abc= abc + x +"\n"
print(abc)

enter n =2
enter  x =sita
enter  x =ram
sita
ram

In [ ]:
contact=""
n =  int(input("enter n="))
for i in range(n):
    name = str(input("enter name="))
    phone = int(input("enter phone="))
    contact =  contact + name + " " +  str(phone)  + "\n"
    print(contact)

enter n=2
enter name=shsika
enter phone=456755355
shsika 456755355

In [1]:
#for fact
fac = 1
for i in range(1,6):
    print(i)

1
2
3
4
5

In [1]:
#for fact
fac = 1
n = int(input("enter n="))
for i in range(1,n+1):
    fac =fac*i
    print(fac)

enter n=1
1

In [1]:
for i in range(10):
    print( i * 'o')

o
oo
ooo
oooo
ooooo
oooooo
ooooooo
oooooooo
ooooooooo

In [ ]:
n =10
for i in range(30):

In [ ]:
WAP to make billing system

name=?
price=?
quantity=?

In [4]:
bill=""
n =  int(input("enter n="))
for i in range(n):
    name = input("enter name=")
    price = int(input("enter price ="))
    quantity= int(input("enter price ="))
    total =  price *  quantity
    bill = bill + name + " " + str(price) + " " +  str(quantity) + " " + str(total) + "\n"
   
    
print(bill)

enter n=2
enter name=rrrrr
enter price =55
enter price =66
enter name=ffff
enter price =66
enter price =77
rrrrr 55 66 3630
ffff 66 77 5082

In [6]:
bill=str()
all_total = 0
n=int(input("number of items= "))
for i in range(n):
    name= input("Name of item= ")
    price= int(input("price of item= "))
    quantity= int(input("Number of quantity= "))
    individual_total = price*quantity
    bill=bill+ name + " " + str(price) + " " + str(quantity) + " " +str(individual_total)+"\n"
    all_total =all_total + total
    
print(bill)
print(all_total)

number of items= 2
Name of item= lays
price of item= 55
Number of quantity= 2
Name of item= fenta
price of item= 66
Number of quantity= 2
lays 55 2 110
fenta 66 2 132

10164