In [ ]:
# nested list
info = [['Ram',34,"Kathmandu"],
       ['shyam',67,"lilitpur"] ,
       []
    
       ]

In [1]:
info[0]

NameError: name 'info' is not defined

In [13]:
info = []
n = int(input("enter n ="))   #this is multidimension array python ma chai array xuttai hunna
for i in range(n):
    name = input("enter name =")
    age = input("enter age =")
    add = input("enter address =")
    x =[name,age,add]
    ifno.append(x)
print(info)

enter n =2
enter name =shosika
enter age =22
enter address =ktm

NameError: name 'ifno' is not defined

In [12]:
info.append(['hari',34, 'bhaktapur'])

In [7]:
info

[]

In [19]:
#update
info[0] =['Rama',35,'dhading']
info

IndexError: list assignment index out of range

In [20]:
info[0][0] = 'Ram'
info

IndexError: list index out of range

In [22]:
#delete
a = [['Rama',35,'dhading'],['Shyam',35,'pokhara'],['Hari',35,'bhaktapur']] 
del a [0]
a

[['Shyam', 35, 'pokhara'], ['Hari', 35, 'bhaktapur']]

In [25]:
a =[['Rama',35,'dhading'],['Shyam',35,'pokhara'],['Hari',35,'bhaktapur']] 
b = a.pop(0)
print(a)
print(b)

[['Shyam', 35, 'pokhara'], ['Hari', 35, 'bhaktapur']]
['Rama', 35, 'dhading']

In [29]:
#Search in list inside list
a=[['Rama',35,'dhading'],['Shyam',35,'pokhara'],['Hari',35,'bhaktapur']]
name= input("enter name=")
for i in a:
    if name  in i:
        print(i)

enter name=Rama
['Rama', 35, 'dhading']

In [32]:
#Search in list inside list
a=[['Rama',35,'dhading'],['Shyam',35,'pokhara'],['Hari',35,'bhaktapur']]
name= input("enter name =")
l =len(a)
for i in range(l):
    if name  in a[i]:
        print(i)

enter name =Hari
2

In [35]:
# r-> ?
# c -> ?
# x => ?
a =[[1,2,3,4],
   [4,5 ,6],
   [7,8,9]]

In [43]:
m =[]
r =int(input("enter  r = "))
c =int(input("enter  c = "))

for i in range(r):
    y =[]
    for j in range (c):
        x = input("enter x=")
        y.append(y)
    
print(m)

enter  r = 2
enter  c = 3
enter x=ram
enter x=shyam
enter x=kathmandu
enter x=hari
enter x=45
enter x=23
[]

#####