In [1]:
a ='Hello World'
b="Hello World"
c ='''Hello World'''
print (type(a))
print (type(b))
print (type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a ="Hello"
b=" World"
c =a + b
print(c)

Hello World

In [3]:
a ="Hello world\n"
print(a* 2)

Hello world
Hello world

In [4]:
a ="Hello World"
for i in a:
    print(i,end="")

Hello World

In [5]:
a= "Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [6]:
a="Hello World"
print(a[5:]) # 5th dekhi baki sab print garxa

 World

In [16]:
a = "Hello World" # paxadi bata count garxa 
print(a [-1])

d

In [17]:
a = "Hello World"
print(a[-1:-12:-1])

dlroW olleH
dlroW olleH

In [18]:
a = "Hello World"
print(a[::-1])

dlroW olleH

In [11]:
a ="Hello world"
l =len(a)                   
l 
for i in range(11):
    print(a[i])

H
e
l
l
o

w
o
r
l
d

In [14]:
#While loop
i =0
l =len(a)
while i<l:
    print(a[i])
    i =i +1

H
e
l
l
o

w
o
r
l
d

In [15]:
#important string formatting
                             # this way is not used in program
name ="ram"
age=10
add="kathmandu"
info ="hello world  I am" + name + " i am from" + str(add) + " i am" + str(age)
print(info)

hello world  I amram i am fromkathmandu i am10

In [17]:
name="ram"                           # this way is not used in programnname ="ram"
age=10
add="kathmandu"
info =f"hello world  I am {name} I am from {add} I am {age}." # f is called formatting
print(info)

hello world  I am ram I am from kathmandu I am 10.

In [19]:
bill=""
all_total =0
n =  int(input("enter n="))
for i in range(n):
    name = input("enter name=")
    price = int(input("enter price ="))
    quantity= int(input("enter price ="))
    total =  price *  quantity
    bill = bill + f"{name} {price} {quantity} {total} \n"
    all_total = all_total + total
    
print(bill)
print(all_total)

enter n=2
enter name=sita
enter price =44
enter price =66
enter name=ram
enter price =66
enter price =77
sita 44 66 2904
ram 66 77 5082

7986

In [2]:
a = "Ram Shyam Hari Sita Gita"
search =input("Enter name =")
if search in a:
    print("yes", a.count(search))
else:
    print("no")

Enter name =Sita
yes 1

In [3]:
a = "Ram Shyam Hari Sita Gita"
print(a.lower())
print(a.upper())

ram shyam hari sita gita
RAM SHYAM HARI SITA GITA

In [15]:
a = "ram shyam hari sita gita".upper()
search =input("Enter name =").upper()
if search in a:
    print("Yes", a.count(search))
else:
    print("No")

Enter name =ram
Yes 1

In [2]:
a = "Ram Shyam Hari Sita Gita"
if "Nabin" not in a:
    print("no")

no

In [4]:
a = "Ram Shyam Hari Sita Gita"
print (a.title())

Ram Shyam Hari Sita Gita

In [6]:
a = "ram shyam hari sita gita"
print(a.isupper())
print(a.islower())

False
True

In [4]:
a ="Ram"
print(a[0].isupper())

True

In [7]:
#Replace Function
a = "Ram Shyam Hari Sita Gita"
a =a.replace('Ram','rama')
print(a)

rama Shyam Hari Sita Gita

In [2]:
#Replace Function
a = "Ram Shyam Hari Sita Gita"
a =a.replace('Ram','') # dlt string function immutable function ma dlt vanne function ni hunna
print(a)

 Shyam Hari Sita Gita

In [4]:
#Replace Function
a = "Ram Shyam Hari Sita Gita"
a =a.replace('Shyam','') # dlt string function immutable function ma dlt vanne function ni hunna
print(a)

Ram  Hari Sita Gita

In [1]:
pwd

'C:\\Users\\user\\python_8_am'