In [ ]:
# TUPLE
# -indexing
# -multiple and duolicate dats
# -Ordered
# -imutable

In [1]:
t =tuple()
a=(1,2,3,4,5,6,7,8,9,0)
b =("apple","ball","cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [2]:
t =("apple")
type(t)

str

In [5]:
b =("appple","ball","cat")
print(b[0])
print(b[0:2])
print(b[0:3:2])

appple
('appple', 'ball')
('appple', 'cat')

In [ ]:
# N0 append ()insert ()extend
#n0 update
#no delete
#no sort()

In [6]:
a =(1,2,3,3,4,5,6,7)
b =(1,2,6,7,8,8,9,0)
c =a+b
print(c)

(1, 2, 3, 3, 4, 5, 6, 7, 1, 2, 6, 7, 8, 8, 9, 0)

In [7]:
a =(1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [9]:
t=()                                #t= tuple
n =int(input("enter n"))
for i in range(n):
    x =int(input("enter x="))
    t =t + (x,)
    print(t)

enter n2
enter x=1
(1,)
enter x=2
(1, 2)

In [10]:
a =(2,3,4,5,6,7,8,9)
print(min(a))
print(sum(b))
print(sum(b))

2
41
41

In [11]:
a =(2,3,4,5,6,7,8,9)
print(min(a))                 #yeslai sort chai garna paidain byt yesto sort value chai hunca
print(sum(b))
print(sum(b))
sorted(a)

2
41
41

[2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#tuple to list 
b =("apple","ball","cat")
c =list(b)
del c[0]
b =tuple(c)
b

('ball', 'cat')

In [18]:
#tuble inside tuple

info = []
n = int(input("enter n =")) 
for i in range(1,n+1):
    name = input("enter name =")
    age = int(input("enter age ="))
    add = input("enter address =")
    ifno =info +((name,age,add),)
info

enter n =2
enter name =shhh
enter age =22
enter address =ktm

TypeError: can only concatenate list (not "tuple") to list